@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-color {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);;
}

.first-grad {background: 
  radial-gradient(ellipse 250px 250px at 30% 30%, rgba(77, 35, 131, 0.8) 2%, #150E28 90%);}
 
.second-grad {background: 
    radial-gradient(ellipse 250px 250px at 10% 45%, rgba(77, 35, 131, 0.8) 2%, #150E28 90%);}

 .third-grad {background: 
      radial-gradient(ellipse 250px 250px at 90% 70%, rgba(77, 35, 131, 0.8) 2%, #150E28 90%);}


       /* fot the timeline component */
      
/*     
    .timeline-container {
        @apply relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16;
    }
    .timeline-container-left {
        @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16;
    }
    .timeline-pointer {
        @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white xs:top-11 xs:left-26 md:left-14;
    }
    .timeline-pointer-left {
        @apply md:left-auto md:right-14;
    } */
