@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-color {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);;
}

.first-grad {background: 
  radial-gradient(ellipse 250px 250px at 30% 30%, rgba(77, 35, 131, 0.8) 2%, #150E28 90%);}
 
  .second-grad {background: 
    radial-gradient(ellipse 300px 300px at 25% 40%, rgba(77, 35, 131, 0.8) 2%, #150E28 90%);}

    .third-grad {background: 
      radial-gradient(ellipse 250px 250px at 90% 70%, rgba(77, 35, 131, 0.8) 2%, #150E28 90%);}

      .fourth-grad {background: 
        radial-gradient(ellipse 200px 200px at 90% 70%, rgba(77, 35, 131, 0.8) 2%, #150E28 90%);}

        .fifth-grad {background: 
       radial-gradient(ellipse 250px 250px at 30% 30%, rgba(77, 35, 131, 0.8) 2%, #150E28 90%);}